body {
  line-height: 1.6;
  font-family:
    'Inika-Regular',
    'Inika-Bold',
    sans-serif;
  font-size: 15px;
}

@font-face {
  font-family: 'Inika-Regular';
  src: url('./Inika-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inika-Bold';
  src: url('./Inika-Bold.ttf') format('truetype');
}